<div class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Identicon Memory Match</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button
            type="button"
            class="btn btn-success play-again"
            (click)="onPlayAgain()"
            *ngIf="displayPlayAgain">Play Again
          </button>
        </li>
        <li>
          <a style="cursor: pointer" (click)="resetGame()">Reset Game</a>
        </li>
      </ul>
    </div>
  </div>
</div>
