<div class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Memory Match with GitHub
        <a
          class="identicon"
          target="_blank"
          href="https://github.com/blog/1586-identicons">
          Identicons
        </a>
    </p>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button
            type="button"
            class="btn btn-success play-again"
            (click)="onPlayAgain()"
            *ngIf="displayPlayAgain">Play Again
          </button>
        </li>
        <li>
          <a style="cursor: pointer" (click)="resetGame()">Reset Game</a>
        </li>
      </ul>
    </div>
  </div>
</div>
