<br><br>
<div class="row">
  <div class="col-xs-6">
    <div class="input-group">
      <input #newTheme type="text" class="form-control" placeholder="Input a GitHub username">
      <span class="input-group-btn">
        <button type="button" (click)="onSubmit(newTheme)" class="btn btn-info">Submit</button>
      </span>
    </div>
  </div>
</div>
<br><br>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
<app-tile></app-tile>
