<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="input-group" style="max-width: 300px">
        <input
          type="text"
          id="identiconName"
          class="form-control"
          ngModel
          name="identiconName"
          [placeholder]="placeholder"
          required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-info">Submit</button>
        </span>
      </div>
  </form>
  </div>
</div>
